/*
============================ LOGIN =============================                     
*/
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
    background-color: white;
}
body{
    padding-top: 60px;
    background-image: url("../imagens/bg.jpg");
    background-size:cover;
}
#bEntrar{
    background-color: dodgerblue;
    border-radius: 10px 10px 10px 10px;
}
#esqueceu-senha{
    float: right;
    font-size: 12px;
}

/*
============================ CORPO =============================                     
*/

